Generar un DataFrame con los datos de los cuatro ficheros.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data1=pd.read_csv(r'emisiones-2016.csv', sep=';')
data2=pd.read_csv(r'emisiones-2017.csv', sep=';')
data3=pd.read_csv(r'emisiones-2018.csv', sep=';')
data4=pd.read_csv(r'emisiones-2019.csv', sep=';')
dataT=pd.concat([data1, data2, data3, data4])
dataT

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÃ‘O, MES y las correspondientes a los dÃ­as D01, D02, etc.

In [4]:
columnas=['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in dataT if col.startswith('D')])

dataT=dataT[columnas]
dataT

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los dÃ­as aparezcan en una Ãºnica columna.

In [5]:
dataT=dataT.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR') #columnas en un valor y los valores
dataT

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

Crear una nueva columna con las fechas a partir del aÃ±o, mes y dÃ­a

In [13]:
dataT['DIA']=dataT.DIA.str.strip('D') #The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)
dataT['Fecha']=dataT['DIA'].apply(str) + '/' + dataT['MES'].apply(str) + '/' + dataT['DIA'].apply(str)

dataT['Fecha']=pd.

0          01/1/01
1          01/2/01
2          01/3/01
3          01/4/01
4          01/5/01
            ...
225241     31/8/31
225242     31/9/31
225243    31/10/31
225244    31/11/31
225245    31/12/31
Name: Fecha, Length: 225246, dtype: object